FORMAT: 1A
HOST: https://testapi.linc.world/v1

# Linc API

# Group Authorization
## oAuth2 Password Grant [/auth/token]
### Get Token/Login [POST]

+ Request (application/x-www-form-urlencoded)

    + Form Data

            + grant_type: "password"
            + username: <user_email>
            + password: <user_password>

    + Headers

            Authorization: Basic <clientID>:<clientSecret>

    + Body

            grant_type=password&username=name%40email.com&password=password

+ Response 200 (application/json)

    + Body

            {
                "access_token": "3sedq3otrh1qfsj61bljkpkjr7eqr3ggkh9b614",
                "token_type": "Bearer",
                "expires_in": 3599,
                "refresh_token": "ieosthc9h1dksne0d0l7llqaig47sl9anaml73103q1ipoj40i512k10o"
            }

### Revoke Token/Logout [DELETE]

+ Request (application/x-www-form-urlencoded)

    + Form Data

            + access_token: <access_token>

    + Headers

            Authorization: Basic <clientID>:<clientSecret>

    + Body

            access_token=<access_token>

+ Response 205


## Social Auth [/auth/social]
### Login [POST]

+ Request (application/x-www-form-urlencoded)

    + Form Data

            + social_network: "facebook"
            + token: <access_token>
            + action: "login"

    + Headers

            Authorization: Basic <clientID>:<clientSecret>

    + Body

            social_network=facebook&token=abcdef&action=login

+ Response 200 (application/json)

    + Body

            {
                "access_token": "3sedq3otrh1qfsj61bljkpkjr7eqr3ggkh9b614",
                "token_type": "Bearer",
                "expires_in": 3599,
                "refresh_token": "ieosthc9h1dksne0d0l7llqaig47sl9anaml73103q1ipoj40i512k10o"
            }

### Signup [POST]

+ Request (application/x-www-form-urlencoded)

    + Form Data

            + social_network: "facebook"
            + token: <access_token>
            + action: "signup"

    + Headers

            Authorization: Basic <clientID>:<clientSecret>

    + Body

            social_network=facebook&token=abcdef&action=signup

+ Response 200 (application/json)

    + Body

            {
                "access_token": "3sedq3otrh1qfsj61bljkpkjr7eqr3ggkh9b614",
                "token_type": "Bearer",
                "expires_in": 3599,
                "refresh_token": "ieosthc9h1dksne0d0l7llqaig47sl9anaml73103q1ipoj40i512k10o"
            }

## Account Deactivation [/auth/deactivate]
### Deactivate [POST]

+ Request (application/x-www-form-urlencoded)

    + Form Data

            + access_token: <access_token>

    + Headers

            Authorization: Basic <clientID>:<clientSecret>

    + Body

            access_token=<access_token>

+ Response 202 (application/json)

    + Body

            {
                "email": "afzaal@afzaalace.com"
            }

# Group Users

## User Signup [/users/]

### Signup [POST]

+ Request (application/x-www-form-urlencoded)

    + Form Data

            + first_name: <user_name>
            + last_name: <user_name>
            + email: <user_email>
            + password: <user_password>
            + username: <user_username>

    + Headers

            Authorization: Basic <clientID>:<clientSecret>

    + Body

            first_name=User%20Name&last_name=User%20Name&email=name%40email.com&password=password&username=username

+ Response 200 (application/json)

    + Body

            {
                "access_token": "3sedq3otrh1qfsj61bljkpkjr7eqr3ggkh9b614",
                "token_type": "Bearer",
                "expires_in": 3599,
                "refresh_token": "ieosthc9h1dksne0d0l7llqaig47sl9anaml73103q1ipoj40i512k10o"
            }
## Me [/users/me]

This works the same as /users/[your-own-id]

### Get [GET]

+ Request 

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "54A0117ABD2BE3F251C3492A",
                "name": "Afzaal Ameer",
                "first_name": "Afzaal",
                "last_name": "Ameer",
                "username": "afzaalace",
                "email": "afzaal@afzaalace.com",
                "title": "Some Title 123",
                "bio": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum, lorem vitae pretium cursus, felis ipsum vehicula nibh, vel pretium lectus lorem at nisl.\n In non ligula lorem. Ut vulputate efficitur consequat. Curabitur non efficitur ipsum. Nam eget odio eu ligula congue rutrum.",
                "location": "Madrid, Madrid, Spain",
                "followers_count": 5,
                "followings_count": 2,
                "leafs_count": 22,
                "membersince": "2014-12-28T14:19:38.000Z",
                "rev": 10,
                "website": "http://www.afzaalace.com",
                "facebook": "https://www.facebook.com/afzaalace",
                "google": "https://plus.google.com/+AfzaalAmeer",
                "twitter": "http://twitter.com/afzaalace",
                "linkedin": "http://in.linkedin.com/in/afzaalace",
                "pinterest": "",
                "views_count": 164,
                "posted_count": 9,
                "interests": {
                    "sectors": "2,24,63"
                },
                "digest": "none",
                "languages": {
                    "system": "en",
                    "content": "es"
                },
                "following_state": false,
                "leafed_count": 19,
                "activity_count": 55,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "2",
                            "percentage": 86
                        },
                        {
                            "sector": "24",
                            "percentage": 47
                        },
                        {
                            "sector": "3",
                            "percentage": 37
                        },
                        {
                            "sector": "63",
                            "percentage": 33
                        },
                        {
                            "sector": "85",
                            "percentage": 23
                        }
                    ]
                },
                "image": "http://cdn-b.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                    },
                    "activities": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                    },
                    "followers": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                    },
                    "followings": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                    },
                    "leafed": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                    },
                    "messages": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                    },
                    "posts": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                    }
                }
            }

### Update [PATCH]

+ Request (application/json)

    + Headers

            Authorization: Bearer <access_token>

    + Body

            {
                "title": "Some Title 123",
                "bio": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum, lorem vitae pretium cursus, felis ipsum vehicula nibh, vel pretium lectus lorem at nisl.\n In non ligula lorem. Ut vulputate efficitur consequat. Curabitur non efficitur ipsum. Nam eget odio eu ligula congue rutrum.",
                "location": "Madrid, Madrid, Spain",
                "website": "https://www.afzaalace.com",
                "facebook": "https://www.facebook.com/afzaalace",
                "google": "https://plus.google.com/+AfzaalAmeer",
                "twitter": "https://twitter.com/afzaalace",
                "linkedin": "https://in.linkedin.com/in/afzaalace",
                "pinterest": "",
                "interests": {
                    "sectors": "2,24,63,73,87,88,94,99,113"
                }
            }

+ Response 200 (application/json)

    + Body

            {
                "id": "54A0117ABD2BE3F251C3492A",
                "name": "Afzaal Ameer",
                "username": "afzaalace",
                "email": "afzaal@afzaalace.com",
                "title": "Some Title 123",
                "bio": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum, lorem vitae pretium cursus, felis ipsum vehicula nibh, vel pretium lectus lorem at nisl.\n In non ligula lorem. Ut vulputate efficitur consequat. Curabitur non efficitur ipsum. Nam eget odio eu ligula congue rutrum.",
                "location": "Madrid, Madrid, Spain",
                "followers_count": 5,
                "followings_count": 1,
                "leafs_count": 5,
                "membersince": "2014-12-28T14:19:38.000Z",
                "rev": 5,
                "website": "http://www.afzaalace.com",
                "facebook": "https://www.facebook.com/afzaalace",
                "google": "https://plus.google.com/+AfzaalAmeer",
                "twitter": "http://twitter.com/afzaalace",
                "linkedin": "http://in.linkedin.com/in/afzaalace",
                "pinterest": "",
                "views_count": 164,
                "posted_count": 2,
                "interests": {
                    "sectors": "2,24,63,73,87,88,94,99,113"
                },
                "digest": "none",
                "languages": {
                    "system": "en",
                    "content": "es"
                },
                "following_state": false,
                "leafed_count": 16,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "2",
                            "percentage": 86
                        },
                        {
                            "sector": "85",
                            "percentage": 50
                        },
                        {
                            "sector": "3",
                            "percentage": 48
                        },
                        {
                            "sector": "5",
                            "percentage": 45
                        },
                        {
                            "sector": "18",
                            "percentage": 42
                        }
                    ]
                },
                "image": "http://cdn-b.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                    },
                    "activities": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                    },
                    "followers": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                    },
                    "followings": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                    },
                    "leafed": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                    },
                    "messages": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                    },
                    "posts": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                    }
                }
            }

### Profile Image [/users/me/image/]

#### Update Image [POST]

+ Request (multipart/form-data; boundary=---BOUNDARY)

    + Headers

            Authorization: Bearer <access_token>
            
    + Body
    
            -----BOUNDARY
            Content-Disposition: form-data; name="image"; filename="image.jpg"
            Content-Type: image/jpeg
            Content-Transfer-Encoding: base64

            /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
            HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
            MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIA
            AhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEB
            AAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AL+AD//Z
            -----BOUNDARY

+ Response 200 (application/json)

    + Body

            {
                "image": "https://cdn.linc.world/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                "rev": 10
            }

## User [/users/{id}]
### Get User [GET]

+ Parameters

    + id (required, hexadecimal, `54A0117ABD2BE3F251C3492A`)

+ Request 

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "54A0117ABD2BE3F251C3492A",
                "name": "Afzaal Ameer",
                "username": "afzaalace",
                "title": "Some Title 123",
                "bio": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum, lorem vitae pretium cursus, felis ipsum vehicula nibh, vel pretium lectus lorem at nisl.\n In non ligula lorem. Ut vulputate efficitur consequat. Curabitur non efficitur ipsum. Nam eget odio eu ligula congue rutrum.",
                "location": "Madrid, Madrid, Spain",
                "followers_count": 5,
                "followings_count": 1,
                "leafs_count": 5,
                "membersince": "2014-12-28T14:19:38.000Z",
                "rev": 5,
                "website": "http://www.afzaalace.com",
                "facebook": "https://www.facebook.com/afzaalace",
                "google": "https://plus.google.com/+AfzaalAmeer",
                "twitter": "http://twitter.com/afzaalace",
                "linkedin": "http://in.linkedin.com/in/afzaalace",
                "pinterest": "",
                "views_count": 164,
                "posted_count": 2,
                "following_state": false,
                "leafed_count": 16,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "2",
                            "percentage": 86
                        },
                        {
                            "sector": "85",
                            "percentage": 50
                        },
                        {
                            "sector": "3",
                            "percentage": 48
                        },
                        {
                            "sector": "5",
                            "percentage": 45
                        },
                        {
                            "sector": "18",
                            "percentage": 42
                        }
                    ]
                },
                "image": "http://cdn-b.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                    },
                    "activities": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                    },
                    "followers": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                    },
                    "followings": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                    },
                    "leafed": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                    },
                    "messages": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                    },
                    "posts": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                    }
                }
            }


### Followers [/users/{id}/followers{?page,size}]
#### Get Followers [GET]
+ Parameters

    + id (required, hexadecimal, `54A0117ABD2BE3F251C3492A`)
    + page (optional, number) - Page number for pagination, default: 1
    + size (optional, number) - Items per page, default: 20

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "users": [
                    {
                        "id": "54A05594DFE5D181114C762A",
                        "name": "Pranay Krishen",
                        "username": "pranay",
                        "title": "Founder | Linc",
                        "bio": "Founder of Linc.world - media, community and resource management platform to support global sustainable development.<br/><br/>Previously, built and raced a solar-powered race car across the 3021km Australian Outback; served as Canada’s cleantech trade ambassador to Brazil; led the deployment of eco-schools across Jordan; researched advanced smart-grid and energy storage solutions with the FP7 commission in Greece; built a green-building residential complex in India; and founded EcoAlliance Cleantech, a photovoltaic systems integrator.<br/><br/>Mechatronics Engineering and Business graduate from Western University in Canada. Designated P.Eng. (EIT) and LEED AP. Lived and worked in Canada, India, Jordan, Chile, Brazil, UK, Denmark and Spain.",
                        "location": "Madrid, Madrid, Spain",
                        "followers_count": 22,
                        "followings_count": 71,
                        "leafs_count": 65,
                        "posted_count": 86,
                        "membersince": "2014-12-28T19:10:12.000Z",
                        "website": "http://www.linc.world",
                        "following_state": true,
                        "image": "http://cdn-c.linc.net/users/profile-54A05594DFE5D181114C762A.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/54A05594DFE5D181114C762A"
                            },
                            "activities": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/activities"
                            },
                            "followers": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/followers"
                            },
                            "followings": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/messages"
                            },
                            "posts": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/posts"
                            }
                        }
                    },
                    {
                        "id": "54A0E4F54908B9D84E87E4A4",
                        "name": "Manu Akash",
                        "username": "ManuAkash",
                        "title": "UX/UI Engineer at GO-JEK",
                        "bio": "I believe strongly in keeping up with, and applying the latest design and technical trends to drive innovation via my work.As a true practitioner of the Latin phrase: \"ACTO NON VERBA\", I believe in letting my efforts speak for themselves.",
                        "location": "Bangalore, Karnataka, India",
                        "followers_count": 3,
                        "followings_count": 6,
                        "leafs_count": 150,
                        "posted_count": 229,
                        "membersince": "2014-12-29T05:21:57.000Z",
                        "website": "",
                        "following_state": false,
                        "image": "http://cdn-d.linc.net/users/profile-54A0E4F54908B9D84E87E4A4.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4"
                            },
                            "activities": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4/activities"
                            },
                            "followers": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4/followers"
                            },
                            "followings": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4/messages"
                            },
                            "posts": {
                                "href": "/v1/users/54A0E4F54908B9D84E87E4A4/posts"
                            }
                        }
                    },
                    {
                        "id": "556E73B8F3A1990B3C2A9B35",
                        "name": "Affaan Ameer",
                        "username": "affaan",
                        "title": "save energy",
                        "bio": "",
                        "location": "Lucknow, Uttar Pradesh, India",
                        "followers_count": 2,
                        "followings_count": 1,
                        "leafs_count": 0,
                        "posted_count": 0,
                        "membersince": "2015-06-03T03:25:44.000Z",
                        "website": "",
                        "following_state": false,
                        "image": "http://cdn-a.linc.net/users/profile-556E73B8F3A1990B3C2A9B35.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35"
                            },
                            "activities": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35/activities"
                            },
                            "followers": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35/followers"
                            },
                            "followings": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35/messages"
                            },
                            "posts": {
                                "href": "/v1/users/556E73B8F3A1990B3C2A9B35/posts"
                            }
                        }
                    },
                    {
                        "id": "5624BC3CC52336973970C58F",
                        "name": "Ashiya Shaikh",
                        "username": "ashiya",
                        "title": "QuezX.com - Hiring for Startups!",
                        "bio": "",
                        "location": "Mumbai, Maharashtra, India",
                        "followers_count": 0,
                        "followings_count": 2,
                        "leafs_count": 0,
                        "posted_count": 0,
                        "membersince": "2015-10-19T09:47:40.000Z",
                        "website": "",
                        "following_state": false,
                        "image": "http://cdn-b.linc.net/users/profile-5624BC3CC52336973970C58F.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/5624BC3CC52336973970C58F"
                            },
                            "activities": {
                                "href": "/v1/users/5624BC3CC52336973970C58F/activities"
                            },
                            "followers": {
                                "href": "/v1/users/5624BC3CC52336973970C58F/followers"
                            },
                            "followings": {
                                "href": "/v1/users/5624BC3CC52336973970C58F/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/5624BC3CC52336973970C58F/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/5624BC3CC52336973970C58F/messages"
                            },
                            "posts": {
                                "href": "/v1/users/5624BC3CC52336973970C58F/posts"
                            }
                        }
                    },
                    {
                        "id": "580667C5F324DBE8290FA3A9",
                        "name": "Danny Saltaren",
                        "username": "",
                        "title": "",
                        "bio": "Freelance Senior Product Designer",
                        "location": "Madrid Area, Spain",
                        "followers_count": 1,
                        "followings_count": 3,
                        "leafs_count": 0,
                        "posted_count": 0,
                        "membersince": "2016-10-18T18:19:49.000Z",
                        "website": "",
                        "following_state": false,
                        "image": "http://cdn-c.linc.net/users/profile-580667C5F324DBE8290FA3A9.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9"
                            },
                            "activities": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9/activities"
                            },
                            "followers": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9/followers"
                            },
                            "followings": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9/messages"
                            },
                            "posts": {
                                "href": "/v1/users/580667C5F324DBE8290FA3A9/posts"
                            }
                        }
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                    },
                    "user": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                    }
                }
            }

### Following [/users/{id}/following{?page,size}]
#### Get Following [GET]
+ Parameters

    + id (required, hexadecimal, `54A0117ABD2BE3F251C3492A`)
    + page (optional, number) - Page number for pagination, default: 1
    + size (optional, number) - Items per page, default: 20

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "users": [
                    {
                        "id": "54A05594DFE5D181114C762A",
                        "name": "Pranay Krishen",
                        "username": "pranay",
                        "title": "Founder | Linc",
                        "bio": "Founder of Linc.world - media, community and resource management platform to support global sustainable development.<br/><br/>Previously, built and raced a solar-powered race car across the 3021km Australian Outback; served as Canada’s cleantech trade ambassador to Brazil; led the deployment of eco-schools across Jordan; researched advanced smart-grid and energy storage solutions with the FP7 commission in Greece; built a green-building residential complex in India; and founded EcoAlliance Cleantech, a photovoltaic systems integrator.<br/><br/>Mechatronics Engineering and Business graduate from Western University in Canada. Designated P.Eng. (EIT) and LEED AP. Lived and worked in Canada, India, Jordan, Chile, Brazil, UK, Denmark and Spain.",
                        "location": "Madrid, Madrid, Spain",
                        "followers_count": 22,
                        "followings_count": 71,
                        "leafs_count": 65,
                        "posted_count": 86,
                        "membersince": "2014-12-28T19:10:12.000Z",
                        "website": "http://www.linc.world",
                        "following_state": true,
                        "image": "http://cdn-d.linc.net/users/profile-54A05594DFE5D181114C762A.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/54A05594DFE5D181114C762A"
                            },
                            "activities": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/activities"
                            },
                            "followers": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/followers"
                            },
                            "followings": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/messages"
                            },
                            "posts": {
                                "href": "/v1/users/54A05594DFE5D181114C762A/posts"
                            }
                        }
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A/following"
                    },
                    "user": {
                        "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                    }
                }
            }

### User Posts [/users/{id}/posts{?page,size}]
#### Get Posts [GET]
+ Parameters

    + id (required, hexadecimal, `54A0117ABD2BE3F251C3492A`)
    + page (optional, number) - Page number for pagination, default: 1
    + size (optional, number) - Items per page, default: 20

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "posts": [
                    {
                        "id": "5835A14EFE73BC5A3372CF97",
                        "source": "http://www.bloomberg.com/graphics/2015-whats-warming-the-world/",
                        "title": "What's Really Warming the World?",
                        "description": "Climate deniers blame natural factors; NASA data proves otherwise",
                        "created_date": "2016-11-23T14:01:50.000Z",
                        "image": "http://cdn-a.linc.net/posts/5835A14EFE73BC5A3372CF97.jpg",
                        "rev": 0,
                        "views_count": 69,
                        "leafs_count": 0,
                        "comments_count": 0,
                        "shortURL": "ED",
                        "timestamp": "2017-01-16T18:43:30.000Z",
                        "leaf_state": false,
                        "_links": {
                            "self": {
                                "href": "/v1/posts/5835A14EFE73BC5A3372CF97"
                            },
                            "comments": {
                                "href": "/v1/posts/5835A14EFE73BC5A3372CF97/comments"
                            }
                        }
                    },
                    {
                        "id": "576C48CA423FFECF5C8D4ECC",
                        "source": "http://blog.solarimpulse.com/post/146345887330/completing-atlantic-crossing",
                        "title": "Completing the Atlantic Crossing: more than an aviation first! | Solar Impulse",
                        "description": "The zero-fuel aeroplane, Solar Impulse, has touched down in Spain, completing the 70-hour Atlantic leg of its historic bid to circle the globe.",
                        "created_date": "2016-06-23T20:38:34.000Z",
                        "image": "http://cdn-b.linc.net/posts/576C48CA423FFECF5C8D4ECC.jpg",
                        "rev": 0,
                        "views_count": 72,
                        "leafs_count": 0,
                        "comments_count": 0,
                        "shortURL": "rb",
                        "timestamp": "2017-01-15T13:14:36.000Z",
                        "leaf_state": false,
                        "_links": {
                            "self": {
                                "href": "/v1/posts/576C48CA423FFECF5C8D4ECC"
                            },
                            "comments": {
                                "href": "/v1/posts/576C48CA423FFECF5C8D4ECC/comments"
                            }
                        }
                    },
                    {
                        "id": "57545C01F35CF1833F077DA9",
                        "source": "http://www.treehugger.com/lawn-garden/homemade-herbicide-kill-weeds-without-killing-earth.html",
                        "title": "6 Homemade herbicides: Kill the weeds without killing the Earth",
                        "description": "It's been said that weeds are just plants whose virtues have not yet been discovered, but if you don't want to find out what those virtues are, you might want to use one of these homemade herbicides.",
                        "created_date": "2016-06-05T17:06:09.000Z",
                        "image": "http://cdn-c.linc.net/posts/57545C01F35CF1833F077DA9.jpg",
                        "rev": 0,
                        "views_count": 181,
                        "leafs_count": 0,
                        "comments_count": 0,
                        "shortURL": "p3",
                        "timestamp": "2017-01-12T04:32:51.000Z",
                        "leaf_state": false,
                        "_links": {
                            "self": {
                                "href": "/v1/posts/57545C01F35CF1833F077DA9"
                            },
                            "comments": {
                                "href": "/v1/posts/57545C01F35CF1833F077DA9/comments"
                            }
                        }
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/posts"
                    },
                    "next": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/posts?page=2"
                    },
                    "last": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/posts?page=5"
                    },
                    "user": {
                        "href": "/v1/users/54A05594DFE5D181114C762A"
                    }
                }
            }

### User Leafed Posts [/users/{id}/leafed{?page,size}]
#### Get Leafed Posts [GET]
+ Parameters

    + id (required, hexadecimal, `54A05594DFE5D181114C762A`)
    + page (optional, number) - Page number for pagination, default: 1
    + size (optional, number) - Items per page, default: 20

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "posts": [
                    {
                        "post": {
                            "id": "582C59ED4A46D6D7064643C8",
                            "source": "http://www.yachtingworld.com/features/solo-across-the-atlantic-in-a-folkboat-67743",
                            "title": "Solo across the Atlantic in a Folkboat – Yachting World",
                            "description": "Carrying his guitar, some fine wine, an old French racing bike and a sextant, Leo Goolden sets out on his first solo Atlantic crossing in a 24ft Folkboat",
                            "created_date": "2016-11-16T13:06:53.000Z",
                            "image": "http://cdn-c.linc.net/posts/582C59ED4A46D6D7064643C8.jpg",
                            "rev": 0,
                            "views_count": 45,
                            "leafs_count": 1,
                            "comments_count": 0,
                            "shortURL": "Dt",
                            "timestamp": "2017-01-15T16:41:16.000Z",
                            "leaf_state": false,
                            "user": {
                                "name": "Dan Rogers",
                                "id": "55195B5A0BD9E6AC218174AC",
                                "username": "danrogers",
                                "title": "Co-Founder of Linc",
                                "bio": "",
                                "location": "Madrid, Madrid, Spain",
                                "followers_count": 7,
                                "followings_count": 4,
                                "leafs_count": 50,
                                "membersince": "2015-03-30T14:19:06.000Z",
                                "rev": 2,
                                "website": "",
                                "image": "http://cdn-c.linc.net/users/profile-55195B5A0BD9E6AC218174AC.jpg",
                                "_links": {
                                    "self": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                                    },
                                    "activities": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/activities"
                                    },
                                    "followers": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/followers"
                                    },
                                    "followings": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/followings"
                                    },
                                    "leafed": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/leafed"
                                    },
                                    "messages": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/messages"
                                    },
                                    "posts": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/posts"
                                    }
                                }
                            },
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/582C59ED4A46D6D7064643C8"
                                },
                                "comments": {
                                    "href": "/v1/posts/582C59ED4A46D6D7064643C8/comments"
                                }
                            }
                        },
                        "leafed_date": "2016-11-17T10:14:46.000Z"
                    },
                    {
                        "post": {
                            "id": "57CD39DD848534652600324A",
                            "source": "http://www.treehugger.com/corporate-responsibility/lets-make-every-weekend-three-day-weekend.html",
                            "title": "Let's make every weekend a three day weekend",
                            "description": "It’s good for the environment and could be for the workers too.",
                            "created_date": "2016-09-05T09:24:45.000Z",
                            "image": "http://cdn-d.linc.net/posts/57CD39DD848534652600324A.jpg",
                            "rev": 0,
                            "views_count": 100,
                            "leafs_count": 1,
                            "comments_count": 0,
                            "shortURL": "xe",
                            "timestamp": "2017-01-16T20:05:30.000Z",
                            "leaf_state": false,
                            "user": {
                                "name": "Dan Rogers",
                                "id": "55195B5A0BD9E6AC218174AC",
                                "username": "danrogers",
                                "title": "Co-Founder of Linc",
                                "bio": "",
                                "location": "Madrid, Madrid, Spain",
                                "followers_count": 7,
                                "followings_count": 4,
                                "leafs_count": 50,
                                "membersince": "2015-03-30T14:19:06.000Z",
                                "rev": 2,
                                "website": "",
                                "image": "http://cdn-c.linc.net/users/profile-55195B5A0BD9E6AC218174AC.jpg",
                                "_links": {
                                    "self": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                                    },
                                    "activities": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/activities"
                                    },
                                    "followers": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/followers"
                                    },
                                    "followings": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/followings"
                                    },
                                    "leafed": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/leafed"
                                    },
                                    "messages": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/messages"
                                    },
                                    "posts": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC/posts"
                                    }
                                }
                            },
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/57CD39DD848534652600324A"
                                },
                                "comments": {
                                    "href": "/v1/posts/57CD39DD848534652600324A/comments"
                                }
                            }
                        },
                        "leafed_date": "2016-09-05T16:22:42.000Z"
                    },
                    {
                        "post": {
                            "id": "5787CE2D0255887741FAAE63",
                            "source": "https://www.technologyreview.com/s/601881/find-out-which-appliance-is-sucking-all-your-power/",
                            "title": "What’s sucking all your electricity? A new device will tell you exactly which appliance it is",
                            "description": "Sense’s $299 gadget identifies individual devices in the home and exactly how much electricity they are using.",
                            "created_date": "2016-07-14T17:38:53.000Z",
                            "image": "http://cdn-a.linc.net/posts/5787CE2D0255887741FAAE63.jpg",
                            "rev": 0,
                            "views_count": 100,
                            "leafs_count": 1,
                            "comments_count": 0,
                            "shortURL": "th",
                            "timestamp": "2017-01-16T14:00:35.000Z",
                            "leaf_state": false,
                            "user": {
                                "name": "Linc Editor",
                                "id": "566D56B98A016D2820208EF0",
                                "username": "linc",
                                "title": "",
                                "bio": "",
                                "location": "",
                                "followers_count": 0,
                                "followings_count": 0,
                                "leafs_count": 87,
                                "membersince": "2015-12-13T11:30:01.000Z",
                                "rev": 2,
                                "website": "",
                                "image": "http://cdn-d.linc.net/users/profile-566D56B98A016D2820208EF0.jpg",
                                "_links": {
                                    "self": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0"
                                    },
                                    "activities": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0/activities"
                                    },
                                    "followers": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0/followers"
                                    },
                                    "followings": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0/followings"
                                    },
                                    "leafed": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0/leafed"
                                    },
                                    "messages": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0/messages"
                                    },
                                    "posts": {
                                        "href": "/v1/users/566D56B98A016D2820208EF0/posts"
                                    }
                                }
                            },
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/5787CE2D0255887741FAAE63"
                                },
                                "comments": {
                                    "href": "/v1/posts/5787CE2D0255887741FAAE63/comments"
                                }
                            }
                        },
                        "leafed_date": "2016-07-15T05:34:05.000Z"
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/leafed"
                    },
                    "next": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/leafed?page=2"
                    },
                    "last": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/leafed?page=4"
                    },
                    "user": {
                        "href": "/v1/users/54A05594DFE5D181114C762A"
                    }
                }
            }

### User Activities [/users/{id}/activities{?page,size}]
#### Get Activities [GET]
+ Parameters

    + id (required, hexadecimal, `54A05594DFE5D181114C762A`)
    + page (optional, number) - Page number for pagination, default: 1
    + size (optional, number) - Items per page, default: 20

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "activities": [
                    {
                        "id": 3400,
                        "type": "comment",
                        "post": {
                            "id": "56E1A4C8C6658CBD561ECF05",
                            "title": "Hansen and Schmidt of NASA GISS under fire for climate stance: Engineers, scientists, astronauts ask",
                            "user": {
                                "id": "55195B5A0BD9E6AC218174AC",
                                "name": "Dan Rogers",
                                "_links": {
                                    "self": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                                    }
                                }
                            },
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/56E1A4C8C6658CBD561ECF05"
                                }
                            }
                        },
                        "created_date": "2017-04-13T20:57:57.000Z",
                        "comment": {
                            "id": "114",
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/114"
                                }
                            }
                        }
                    },
                    {
                        "id": 3386,
                        "type": "leaf",
                        "post": {
                            "id": "581DEDEA002B74604FE091C1",
                            "title": "Tesla's SolarCity deal gets a boost from shareholder advisory firm",
                            "user": {
                                "id": "55195B5A0BD9E6AC218174AC",
                                "name": "Dan Rogers",
                                "_links": {
                                    "self": {
                                        "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                                    }
                                }
                            },
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/581DEDEA002B74604FE091C1"
                                }
                            }
                        },
                        "created_date": "2017-03-31T09:21:19.000Z"
                    },
                    {
                        "id": 2445,
                        "type": "follow",
                        "created_date": "2016-06-24T14:37:28.000Z",
                        "user": {
                            "id": "576BDDAFC105A89D59A7AC5B",
                            "name": "Cédric Fettouche",
                            "_links": {
                                "self": {
                                    "href": "/v1/users/576BDDAFC105A89D59A7AC5B"
                                }
                            }
                        }
                    },
                    {
                        "id": 2441,
                        "type": "post",
                        "post": {
                            "id": "576C48CA423FFECF5C8D4ECC",
                            "title": "Completing the Atlantic Crossing: more than an aviation first! | Solar Impulse",
                            "user": {
                                "id": "54A05594DFE5D181114C762A",
                                "name": "Pranay Krishen",
                                "_links": {
                                    "self": {
                                        "href": "/v1/users/54A05594DFE5D181114C762A"
                                    }
                                }
                            },
                            "_links": {
                                "self": {
                                    "href": "/v1/posts/576C48CA423FFECF5C8D4ECC"
                                }
                            }
                        },
                        "created_date": "2016-06-23T20:38:34.000Z"
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/activities"
                    },
                    "next": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/activities?page=2"
                    },
                    "last": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/activities?page=14"
                    }
                }
            }

### Follow User [/users/{id}/follow]
#### Follow User [POST]
+ Parameters

    + id (required, hexadecimal, `54A0E4F54908B9D84E87E4A4`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "54A0E4F54908B9D84E87E4A4",
                "name": "Manu Akash",
                "username": "ManuAkash",
                "title": "UX/UI Engineer at GO-JEK",
                "bio": "I believe strongly in keeping up with, and applying the latest design and technical trends to drive innovation via my work.As a true practitioner of the Latin phrase: \"ACTO NON VERBA\", I believe in letting my efforts speak for themselves.",
                "location": "Bangalore, Karnataka, India",
                "followers_count": 4,
                "followings_count": 6,
                "leafs_count": 150,
                "membersince": "2014-12-29T05:21:57.000Z",
                "rev": 2,
                "website": "",
                "facebook": "https://www.facebook.com/ManuAkash1",
                "google": "https://plus.google.com/+ManuAkash",
                "twitter": "https://twitter.com/ManuAkash1",
                "linkedin": "https://in.linkedin.com/in/manuakash",
                "pinterest": "https://www.pinterest.com/manuakash",
                "views_count": 212,
                "posted_count": 229,
                "following_state": true,
                "leafed_count": 19,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "4",
                            "percentage": 86
                        },
                        {
                            "sector": "51",
                            "percentage": 68
                        },
                        {
                            "sector": "49",
                            "percentage": 50
                        },
                        {
                            "sector": "2",
                            "percentage": 43
                        },
                        {
                            "sector": "45",
                            "percentage": 42
                        }
                    ]
                },
                "image": "http://cdn-b.linc.net/users/profile-54A0E4F54908B9D84E87E4A4.jpg",
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4"
                    },
                    "activities": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/activities"
                    },
                    "followers": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/followers"
                    },
                    "followings": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/followings"
                    },
                    "leafed": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/leafed"
                    },
                    "messages": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/messages"
                    },
                    "posts": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/posts"
                    }
                }
            }

#### Unfollow User [DELETE]
+ Parameters

    + id (required, hexadecimal, `54A0E4F54908B9D84E87E4A4`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "54A0E4F54908B9D84E87E4A4",
                "name": "Manu Akash",
                "username": "ManuAkash",
                "title": "UX/UI Engineer at GO-JEK",
                "bio": "I believe strongly in keeping up with, and applying the latest design and technical trends to drive innovation via my work.As a true practitioner of the Latin phrase: \"ACTO NON VERBA\", I believe in letting my efforts speak for themselves.",
                "location": "Bangalore, Karnataka, India",
                "followers_count": 4,
                "followings_count": 6,
                "leafs_count": 150,
                "membersince": "2014-12-29T05:21:57.000Z",
                "rev": 2,
                "website": "",
                "facebook": "https://www.facebook.com/ManuAkash1",
                "google": "https://plus.google.com/+ManuAkash",
                "twitter": "https://twitter.com/ManuAkash1",
                "linkedin": "https://in.linkedin.com/in/manuakash",
                "pinterest": "https://www.pinterest.com/manuakash",
                "views_count": 212,
                "posted_count": 229,
                "following_state": false,
                "leafed_count": 19,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "4",
                            "percentage": 86
                        },
                        {
                            "sector": "51",
                            "percentage": 68
                        },
                        {
                            "sector": "49",
                            "percentage": 50
                        },
                        {
                            "sector": "2",
                            "percentage": 43
                        },
                        {
                            "sector": "45",
                            "percentage": 42
                        }
                    ]
                },
                "image": "http://cdn-b.linc.net/users/profile-54A0E4F54908B9D84E87E4A4.jpg",
                "_links": {
                    "self": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4"
                    },
                    "activities": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/activities"
                    },
                    "followers": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/followers"
                    },
                    "followings": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/followings"
                    },
                    "leafed": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/leafed"
                    },
                    "messages": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/messages"
                    },
                    "posts": {
                        "href": "/v1/users/54A0E4F54908B9D84E87E4A4/posts"
                    }
                }
            }

### User Messages [/users/{id}/messages{?page,size}]
#### Get Messages [GET]
+ Parameters

    + id (required, hexadecimal, `54A0E4F54908B9D84E87E4A4`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "messages": [
                    {
                        "id": 16,
                        "sender": "54A0117ABD2BE3F251C3492A",
                        "receiver": "54A05594DFE5D181114C762A",
                        "message": "#This is second\nmessage\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                        "status": "0",
                        "created_date": "2017-02-18T15:57:06.000Z",
                        "_links": {
                            "self": {
                                "href": "/v1/messages/16"
                            }
                        }
                    },
                    {
                        "id": 15,
                        "sender": "54A0117ABD2BE3F251C3492A",
                        "receiver": "54A05594DFE5D181114C762A",
                        "message": "#This is a\nmessage\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                        "status": "0",
                        "created_date": "2017-02-18T15:32:37.000Z",
                        "_links": {
                            "self": {
                                "href": "/v1/messages/15"
                            }
                        }
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/users/54A05594DFE5D181114C762A/messages"
                    }
                }
            }

#### Send Message [POST]
+ Parameters

    + id (required, hexadecimal, `54A0E4F54908B9D84E87E4A4`)

+ Request (application/json)

    + Headers

            Authorization: Bearer <access_token>

    + Body

            {
                "message":"#This is second\n##message \nthat has links <https://linc.world/p/N>, <http://example.net/> "
            }

+ Response 200 (application/json)

    + Body

            {
                "id": 16,
                "sender": "54A0117ABD2BE3F251C3492A",
                "receiver": "54A05594DFE5D181114C762A",
                "message": "#This is second\nmessage\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                "status": "0",
                "created_date": "2017-02-18T15:57:06.000Z"
                "_links": {
                    "self": {
                        "href": "/v1/messages/16"
                    }
                }
            }

# Group Posts
## Add Post [/posts/]
### Add Post[POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <access_token>

    + Body

            {
                "source": "https://makandracards.com/makandra/38347-ajax-requests-with-patch-or-delete-method-will-not-redirect-with-get",
                "title": "Digi Ocean",
                "description": "Institutional Shareholder Services today recommended that investors in both companies approve Tesla Motors' plan to buy solar panel installer SolarCity for more than $2 billion.",
                "interests": {
                    "sectors":"2,24"
                },
                "image": "http://cdn-a.linc.net/t-content/61d8434858fd77575421da08542510f8-216.jpg"
            }

+ Response 200 (application/json)

    + Body

            {
                "id": "581DEDEA002B74604FE091C1",
                "source": "http://www.autonews.com/article/20161104/OEM05/161109912/teslas-solarcity-deal-gets-a-boost-from-shareholder-advisory-firm",
                "title": "Tesla's SolarCity deal gets a boost from shareholder advisory firm",
                "user": {
                    "name": "Dan Rogers",
                    "id": "55195B5A0BD9E6AC218174AC",
                    "username": "danrogers",
                    "title": "Co-Founder of Linc",
                    "bio": "",
                    "location": "Madrid, Madrid, Spain",
                    "followers_count": 7,
                    "followings_count": 4,
                    "leafs_count": 50,
                    "membersince": "2015-03-30T14:19:06.000Z",
                    "rev": 2,
                    "website": "",
                    "following_state": false,
                    "image": "http://cdn-c.linc.net/users/profile-55195B5A0BD9E6AC218174AC.jpg",
                    "_links": {
                        "self": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                        },
                        "activities": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/activities"
                        },
                        "followers": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followers"
                        },
                        "followings": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followings"
                        },
                        "leafed": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/leafed"
                        },
                        "messages": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/messages"
                        },
                        "posts": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/posts"
                        }
                    }
                },
                "description": "Institutional Shareholder Services today recommended that investors in both companies approve Tesla Motors' plan to buy solar panel installer SolarCity for more than $2 billion.",
                "created_date": "2016-11-05T14:34:18.000Z",
                "image": "http://cdn-d.linc.net/posts/581DEDEA002B74604FE091C1.jpg",
                "rev": 0,
                "views_count": 41,
                "leafs_count": 0,
                "comments_count": 0,
                "shortURL": "BG",
                "timestamp": "2017-02-12T00:14:42.000Z",
                "leaf_state": false,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "3",
                            "percentage": 86
                        },
                        {
                            "sector": "2",
                            "percentage": 18
                        }
                    ]
                },
                "_links": {
                    "self": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1"
                    },
                    "comments": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1/comments"
                    }
                }
            }

## Post [/posts/{id}]
### Get Post [GET]
+ Parameters

    + id (required, hexadecimal, `581DEDEA002B74604FE091C1`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "581DEDEA002B74604FE091C1",
                "source": "http://www.autonews.com/article/20161104/OEM05/161109912/teslas-solarcity-deal-gets-a-boost-from-shareholder-advisory-firm",
                "title": "Tesla's SolarCity deal gets a boost from shareholder advisory firm",
                "user": {
                    "name": "Dan Rogers",
                    "id": "55195B5A0BD9E6AC218174AC",
                    "username": "danrogers",
                    "title": "Co-Founder of Linc",
                    "bio": "",
                    "location": "Madrid, Madrid, Spain",
                    "followers_count": 7,
                    "followings_count": 4,
                    "leafs_count": 50,
                    "membersince": "2015-03-30T14:19:06.000Z",
                    "rev": 2,
                    "website": "",
                    "following_state": false,
                    "image": "http://cdn-c.linc.net/users/profile-55195B5A0BD9E6AC218174AC.jpg",
                    "_links": {
                        "self": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                        },
                        "activities": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/activities"
                        },
                        "followers": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followers"
                        },
                        "followings": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followings"
                        },
                        "leafed": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/leafed"
                        },
                        "messages": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/messages"
                        },
                        "posts": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/posts"
                        }
                    }
                },
                "description": "Institutional Shareholder Services today recommended that investors in both companies approve Tesla Motors' plan to buy solar panel installer SolarCity for more than $2 billion.",
                "created_date": "2016-11-05T14:34:18.000Z",
                "image": "http://cdn-d.linc.net/posts/581DEDEA002B74604FE091C1.jpg",
                "rev": 0,
                "views_count": 41,
                "leafs_count": 0,
                "comments_count": 0,
                "shortURL": "BG",
                "timestamp": "2017-02-12T00:14:42.000Z",
                "leaf_state": false,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "3",
                            "percentage": 86
                        },
                        {
                            "sector": "2",
                            "percentage": 18
                        }
                    ]
                },
                "_links": {
                    "self": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1"
                    },
                    "comments": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1/comments"
                    }
                }
            }

## Post Image [/posts/image/]
### Post Image [POST]

+ Request (multipart/form-data; boundary=---BOUNDARY)

    + Headers

            Authorization: Bearer <access_token>
            
    + Body
    
            -----BOUNDARY
            Content-Disposition: form-data; name="image"; filename="image.jpg"
            Content-Type: image/jpeg
            Content-Transfer-Encoding: base64

            /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
            HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
            MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIA
            AhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEB
            AAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AL+AD//Z
            -----BOUNDARY

+ Response 200 (application/json)

    + Body

            {
                "image": "https://cdn.linc.world/t-content/4d03d29e3a67cbbd603236d5c9e1fcd0.jpg"
            }

### Post Comments [/posts/{id}/comments{?page,size}]
#### Get Comments [GET]
+ Parameters

    + id (required, hexadecimal, `56E1A4C8C6658CBD561ECF05`)
    + page (optional, number) - Page number for pagination, default: redirects to last page
    + size (optional, number) - Items per page, default: 20

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "comments": [
                    {
                        "id": 122,
                        "user": {
                            "name": "Afzaal Ameer",
                            "id": "54A0117ABD2BE3F251C3492A",
                            "username": "afzaalace",
                            "title": "Some Title 123",
                            "location": "Madrid, Madrid, Spain",
                            "rev": 10,
                            "following_state": false,
                            "image": "http://cdn-d.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                            "_links": {
                                "self": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                                },
                                "activities": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                                },
                                "followers": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                                },
                                "followings": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                                },
                                "leafed": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                                },
                                "messages": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                                },
                                "posts": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                                }
                            }
                        },
                        "comment": "#This is a\ncomment\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                        "leafs_count": 0,
                        "created_date": "2017-04-18T09:44:11.000Z",
                        "replies": [
                            {
                                "id": 85,
                                "user": {
                                    "name": "Afzaal Ameer",
                                    "id": "54A0117ABD2BE3F251C3492A",
                                    "username": "afzaalace",
                                    "title": "Some Title 123",
                                    "location": "Madrid, Madrid, Spain",
                                    "rev": 10,
                                    "following_state": false,
                                    "image": "http://cdn-a.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                                    "_links": {
                                        "self": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                                        },
                                        "activities": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                                        },
                                        "followers": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                                        },
                                        "followings": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                                        },
                                        "leafed": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                                        },
                                        "messages": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                                        },
                                        "posts": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                                        }
                                    }
                                },
                                "comment": "#This is a\ncomment\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                                "leafs_count": 1,
                                "created_date": "2017-03-29T11:40:18.000Z",
                                "leaf_state": false,
                                "_links": {
                                    "self": {
                                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/85"
                                    },
                                    "leafers": {
                                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/85/leafers"
                                    }
                                }
                            },
                            {
                                "id": 101,
                                "user": {
                                    "name": "Afzaal Ameer",
                                    "id": "54A0117ABD2BE3F251C3492A",
                                    "username": "afzaalace",
                                    "title": "Some Title 123",
                                    "location": "Madrid, Madrid, Spain",
                                    "rev": 10,
                                    "following_state": false,
                                    "image": "http://cdn-a.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                                    "_links": {
                                        "self": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                                        },
                                        "activities": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                                        },
                                        "followers": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                                        },
                                        "followings": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                                        },
                                        "leafed": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                                        },
                                        "messages": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                                        },
                                        "posts": {
                                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                                        }
                                    }
                                },
                                "comment": "#This is a\ncomment\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                                "leafs_count": 0,
                                "created_date": "2017-03-31T11:32:43.000Z",
                                "leaf_state": false,
                                "_links": {
                                    "self": {
                                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/101"
                                    },
                                    "leafers": {
                                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/101/leafers"
                                    }
                                }
                            }
                        ],
                        "replies_count": 21,
                        "leaf_state": false,
                        "_links": {
                            "self": {
                                "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/122"
                            },
                            "replies": {
                                "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/122/replies"
                            },
                            "leafers": {
                                "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/122/leafers"
                            }
                        }
                    },
                    {
                        "id": 123,
                        "user": {
                            "name": "Afzaal Ameer",
                            "id": "54A0117ABD2BE3F251C3492A",
                            "username": "afzaalace",
                            "title": "Some Title 123",
                            "location": "Madrid, Madrid, Spain",
                            "rev": 10,
                            "following_state": false,
                            "image": "http://cdn-d.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                            "_links": {
                                "self": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                                },
                                "activities": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                                },
                                "followers": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                                },
                                "followings": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                                },
                                "leafed": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                                },
                                "messages": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                                },
                                "posts": {
                                    "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                                }
                            }
                        },
                        "comment": "#This is a\ncomment\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                        "leafs_count": 0,
                        "created_date": "2017-05-17T09:15:46.000Z",
                        "replies": [],
                        "replies_count": 0,
                        "leaf_state": false,
                        "_links": {
                            "self": {
                                "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/123"
                            },
                            "replies": {
                                "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/123/replies"
                            },
                            "leafers": {
                                "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/123/leafers"
                            }
                        }
                    }
                ],
                "_links": {
                    "previous": {
                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments?page=1"
                    },
                    "self": {
                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments?page=2"
                    },
                    "post": {
                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05"
                    }
                }
            }

### Add Comment [/posts/{id}/comments]
#### Add Comment [POST]
+ Parameters

    + id (required, hexadecimal, `56E1A4C8C6658CBD561ECF05`)

+ Request (application/json)

    + Headers

            Authorization: Bearer <access_token>

    + Body

            {
                "comment": "#This is a \n##comment \nthat mentions <@54A05594DFE5D181114C762A>, <@54A05594DFE5D181114C762B> and links <http://example.net/>, <https://www.linc.world/post/Tesla_s_SolarCity_deal_gets_a_boost_from_shareholder_advisory_firm/581DEDEA002B74604FE091C1.html>, <https://linc.world/p/1Z> "
            }

+ Response 200 (application/json)

    + Body

            {
                "id": 100,
                "user": {
                    "name": "Afzaal Ameer",
                    "id": "54A0117ABD2BE3F251C3492A",
                    "username": "afzaalace",
                    "title": "Some Title 123",
                    "location": "Madrid, Madrid, Spain",
                    "following_state": false,
                    "image": "http://cdn-a.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                    "_links": {
                        "self": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                        },
                        "activities": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                        },
                        "followers": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                        },
                        "followings": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                        },
                        "leafed": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                        },
                        "messages": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                        },
                        "posts": {
                            "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                        }
                    }
                },
                "post": {
                    "id": "56E1A4C8C6658CBD561ECF05",
                    "title": "Hansen and Schmidt of NASA GISS under fire for climate stance: Engineers, scientists, astronauts ask",
                    "description": "Looks like another GISS miss, more than a few people are getting fed up with Jim Hansen and Gavin Schmidt and their climate shenanigans. Some very prominent NASA voices speak out in a scathing lett…",
                    "created_date": "2016-03-10T16:46:00.000Z",
                    "leafs_count": 1,
                    "comments_count": 20,
                    "shortURL": "dW",
                    "timestamp": "2017-03-31T08:57:23.000Z",
                    "leaf_state": false,
                    "_links": {
                        "self": {
                            "href": "/v1/posts/56E1A4C8C6658CBD561ECF05"
                        },
                        "comments": {
                            "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments"
                        }
                    }
                },
                "comment": "#This is a\ncomment\nthat has links <https://linc.world/p/N>, <http://example.net/> \n",
                "leafs_count": 0,
                "created_date": "2017-03-31T08:57:23.000Z",
                "leaf_state": false,
                "_links": {
                    "self": {
                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/100"
                    },
                    "replies": {
                        "href": "/v1/posts/56E1A4C8C6658CBD561ECF05/comments/100/replies"
                    }
                }
            }

## Leaf Post [/posts/{id}/leaf]
### Leaf Post [POST]
+ Parameters

    + id (required, hexadecimal, `581DEDEA002B74604FE091C1`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "581DEDEA002B74604FE091C1",
                "source": "http://www.autonews.com/article/20161104/OEM05/161109912/teslas-solarcity-deal-gets-a-boost-from-shareholder-advisory-firm",
                "title": "Tesla's SolarCity deal gets a boost from shareholder advisory firm",
                "user": {
                    "name": "Dan Rogers",
                    "id": "55195B5A0BD9E6AC218174AC",
                    "username": "danrogers",
                    "title": "Co-Founder of Linc",
                    "bio": "",
                    "location": "Madrid, Madrid, Spain",
                    "followers_count": 7,
                    "followings_count": 4,
                    "leafs_count": 49,
                    "membersince": "2015-03-30T14:19:06.000Z",
                    "rev": 2,
                    "website": "",
                    "following_state": false,
                    "image": "http://cdn-b.linc.net/users/profile-55195B5A0BD9E6AC218174AC.jpg",
                    "_links": {
                        "self": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                        },
                        "activities": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/activities"
                        },
                        "followers": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followers"
                        },
                        "followings": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followings"
                        },
                        "leafed": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/leafed"
                        },
                        "messages": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/messages"
                        },
                        "posts": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/posts"
                        }
                    }
                },
                "description": "Institutional Shareholder Services today recommended that investors in both companies approve Tesla Motors' plan to buy solar panel installer SolarCity for more than $2 billion.",
                "created_date": "2016-11-05T14:34:18.000Z",
                "image": "http://cdn-c.linc.net/posts/581DEDEA002B74604FE091C1.jpg",
                "rev": 0,
                "views_count": 41,
                "leafs_count": 1,
                "comments_count": 0,
                "shortURL": "BG",
                "timestamp": "2017-03-31T09:21:19.000Z",
                "leaf_state": true,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "3",
                            "percentage": 86
                        },
                        {
                            "sector": "2",
                            "percentage": 29
                        }
                    ]
                },
                "_links": {
                    "self": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1"
                    },
                    "comments": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1/comments"
                    }
                }
            }

### Unleaf Post [DELETE]
+ Parameters

    + id (required, hexadecimal, `581DEDEA002B74604FE091C1`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": "581DEDEA002B74604FE091C1",
                "source": "http://www.autonews.com/article/20161104/OEM05/161109912/teslas-solarcity-deal-gets-a-boost-from-shareholder-advisory-firm",
                "title": "Tesla's SolarCity deal gets a boost from shareholder advisory firm",
                "user": {
                    "name": "Dan Rogers",
                    "id": "55195B5A0BD9E6AC218174AC",
                    "username": "danrogers",
                    "title": "Co-Founder of Linc",
                    "bio": "",
                    "location": "Madrid, Madrid, Spain",
                    "followers_count": 7,
                    "followings_count": 4,
                    "leafs_count": 49,
                    "membersince": "2015-03-30T14:19:06.000Z",
                    "rev": 2,
                    "website": "",
                    "following_state": false,
                    "image": "http://cdn-b.linc.net/users/profile-55195B5A0BD9E6AC218174AC.jpg",
                    "_links": {
                        "self": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC"
                        },
                        "activities": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/activities"
                        },
                        "followers": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followers"
                        },
                        "followings": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/followings"
                        },
                        "leafed": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/leafed"
                        },
                        "messages": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/messages"
                        },
                        "posts": {
                            "href": "/v1/users/55195B5A0BD9E6AC218174AC/posts"
                        }
                    }
                },
                "description": "Institutional Shareholder Services today recommended that investors in both companies approve Tesla Motors' plan to buy solar panel installer SolarCity for more than $2 billion.",
                "created_date": "2016-11-05T14:34:18.000Z",
                "image": "http://cdn-c.linc.net/posts/581DEDEA002B74604FE091C1.jpg",
                "rev": 0,
                "views_count": 41,
                "leafs_count": 1,
                "comments_count": 0,
                "shortURL": "BG",
                "timestamp": "2017-03-31T09:21:19.000Z",
                "leaf_state": false,
                "interest_graph": {
                    "sectors": [
                        {
                            "sector": "3",
                            "percentage": 86
                        },
                        {
                            "sector": "2",
                            "percentage": 29
                        }
                    ]
                },
                "_links": {
                    "self": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1"
                    },
                    "comments": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1/comments"
                    }
                }
            }


## Get Leafers [/posts/{id}/leafers]
### Gets Leafers [GET]
+ Parameters

    + id (required, hexadecimal, `581DEDEA002B74604FE091C1`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "users": [
                    {
                        "name": "Afzaal Ameer",
                        "id": "54A0117ABD2BE3F251C3492A",
                        "username": "afzaalace",
                        "title": "Some Title 123",
                        "location": "Madrid, Madrid, Spain",
                        "following_state": false,
                        "image": "http://cdn-a.linc.net/users/profile-54A0117ABD2BE3F251C3492A.jpg",
                        "_links": {
                            "self": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A"
                            },
                            "activities": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A/activities"
                            },
                            "followers": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A/followers"
                            },
                            "followings": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A/followings"
                            },
                            "leafed": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A/leafed"
                            },
                            "messages": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A/messages"
                            },
                            "posts": {
                                "href": "/v1/users/54A0117ABD2BE3F251C3492A/posts"
                            }
                        }
                    }
                ],
                "_links": {
                    "self": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1/leafers"
                    },
                    "post": {
                        "href": "/v1/posts/581DEDEA002B74604FE091C1"
                    }
                }
            }

# Group Comments

## Comment [/posts/{post}/comments/{id}]
### Get Comment [GET]
+ Parameters

    + post (required, hexadecimal, `56E1A4C8C6658CBD561ECF05`)
    + id (required, number, `25`)

+ Request

    + Headers

            Authorization: Bearer <access_token>

+ Response 200 (application/json)

    + Body

            {
                "id": 25,
                "user": {
                    "name": "Pranay Krishen",
                    "id": "54A05594DFE5D181114C762A",
                    "username": "pranay",
                    "title": "Founder | Linc",
                    "location": "Madrid, Madrid, Spain",
                    "following_state": true,
                    "image": "http://cdn-a.linc.net/users/profile-54A05594DFE5D181114C762A.jpg",
                    "_links": {
                        "self": {
                            "href": "/v1/users/54A05594DFE5D181114C762A"
                        },
                        "activities": {
                            "href": "/v1/users/54A05594DFE5D181114C762A/activities"
                        },
                        "followers": {
                            "href": "/v1/users/54A05594DFE5D181114C762A/followers"
                        },
                        "followings": {
                            "href": "/v1/users/54A05594DFE5D181114C762A/followings"
                        },
                        "leafed": {
                            "href": "/v1/users/54A05594DFE5D181114C762A/leafed"
                        },
                        "messages": {
                            "href": "/v1/users/54A05594DFE5D181114C762A/messages"
                        },
                        "posts": {
[...]
